body{
  background-color: #191960;
  margin: 0px;
}
div,p{
  margin: 0;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.font-13{
  font-size: 13px;
}
ul{
  list-style: none;
}
.pointList{
  list-style-type: disc;
}
.hiraganaList{
  list-style-type: hiragana;
}
.main-text{
  margin: 0px 5px;
}
#topmenu{
  width: 100%;
  background-color: #fff;
  height: 150px;
}
.tMenu{
  margin-left: 20px;
}
#toplogo{
  position: relative;
  width: 20px;
  height: 5px;
  top: 20px;
  margin-left: 50px;
}
#topMenu{
  display: flex;
}
#sidoMenu {
  margin: 30px 55px;
  float: right;
}
#main{
  display: flex;
  flex: column;
}
.pan{
  background-color: #2E8B57;
  width: 100%;
  height: 20px;
  z-index: 0;
}
.pan2{
  background-color: #fff;
  width: 10%;
  min-height: 100vh;
  z-index: 1;
}
.pan3{
  background-color: #2E8B57;
  width: 100%;
  height: 20px;
  z-index: 0;
}
.main{
  background-color: rgba(255,255,255,0);
  width: 80%;
  min-height: 100vh;
  float: center;
  overflow: hidden;
}
#slider {
  width: 100%;
  display: flex;
  width: min-content;
  animation: 30s linear infinite sliderAnimation;
  display: -ms-grid;
  -ms-grid-columns: min-content;
}
#solid{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main1{
  background-color: #fff;
  width: 400px;
  height: 16rem;
  padding: 20px 40px;
  position: relative;
  text-align: center;
  margin: 20px;
  border: 1px #fff solid;
}
@keyframes sliderAnimation{
  100%{
    transform: translateX(-50%);
  }
}
.sav{
  background-color: #fff;
  width: 10%;
  min-height: 100vh;
  float: center;
  z-index: 0;
  word-wrap: break-word;
}
.text__color{
  text-align: center;
  font-size: 500px;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.slideLink a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}
a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover,a:active{
  color: #fff;
}
/*ここからタブレット用*/
@media only screen and (min-width:640px) and (max-width:1023px) {
/*tablet用のcssを記述*/
body{
  background-color: #00f;
  margin: 0px;
}
.pan{
  background-color: #2E8B57;
  width: 100%;
  height: 60px;
  z-index: 0;
}
.pan3{
  background-color: #2E8B57;
  width: 100%;
  height: 60px;
  z-index: 0;
}
.font-13{
  font-size: 35px;
  color: #fff;
  font-family: 'Noto Serif JP', serif;
  padding-left: 20px;
  padding-top: 10px;
}
}
