AuthUserfile /フルパス/.htpasswd
AuthGroupfile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user

id:tx5Fgi9TurwLE
higashige_to:tx5Fgi9TurwLE

RewriteEngine on
RewriteRule ^old.html$ http://example.com/new.html [R=301,L]
