@charset "UTF-8";
@media screen and (min-width:1024px){
body{
  background-color: #191960;
  margin: 0px;
}
div,p{
  margin: 0;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.font-13{
  font-size: 13px;
}
ul{
  list-style: none;
}
.pointList{
  list-style-type: disc;
}
.hiraganaList{
  list-style-type: hiragana;
}
.main-text{
  margin: 0px 5px;
}
#topmenu{
  width: 100%;
  height: 100px;
  background-color: #A0522D;
}
.tMenu{
  margin-left: 20px;
}
#toplogo{
  position: relative;
  width: 230px;
  height: 50px;
  /* top: 20px; */
  margin-left: 50px;
}
#topMenu{
  display: flex;
}
#sidoMenu {
  margin: 0px 50px;
  float: right;
}
#main{
  display: flex;
  flex: column;
}
.pan{
  background-color: #2E8B57;
  width: 100%;
  height: 20px;
}
.pan2{
  background-color: #fff;
  width: 10%;
  min-height: 100vh;
}
.main{
  background-color: #ff0;
  width: 85%;
  min-height: 100vh;
  float: center;
}
.sav{
  background-color: #ff0000;
  width: 15%;
  min-height: 100vh;
  float: center;
}
.text__color{
  text-align: center;
  font-size: 500px;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover,a:active{
  color: #fff;
}

}
