@charset "UTF-8";
@media screen and (min-width:1024px){
body{
  background-color: #191960;
  margin: 0px;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
ul{
  list-style: none;
}
.pointList{
  list-style-type: disc;
}
.hiraganaList{
  list-style-type: hiragana;
}
#topmenu{
  width: 100%;
  height: 150px;
  background-color: #fff;
}
.tMenu{
  margin-left: 20px;
}
#toplogo{
  position: relative;
  width: 230px;
  height: 50px;
  top: 50px;
  margin-left: 50px;
}
#topMenu{
  display: flex;
}
#sidoMenu{
  float: right;
  display: inline;
}
.text__color{
  text-align: center;
  font-size: 500px;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5%;
}
a:hover,a:active{
  color: #fff;
}

}
