@charset "UTF-8";


img {
width: 100% ;
}
body{
  background-color: #191970;
}
p.text__color{
 text-align: center;
 font-size: 250px;
 color: #fff;
 font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
 color: #fff;
 text-decoration: none;
 cursor: pointer;
 margin: 0 5%;
}
a:hover,a:active{
 color: #fff;
}
