@charset "UTF-8";
body{
  background-image:url(sp_back.jpg);
}
.text__color{
 text-align: center;
 font-size: 250px;
 color: #fff;
 font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
 color: #fff;
 text-decoration: none;
 cursor: pointer;
 margin: 0 5%;
}
a:hover,a:active{
 color: #fff;
}
