@charset "UTF-8";
body{
  background-color: #872229;
}
ul{
  list-style: none;
}
.text__color{
 text-align: center;
 font-size: 250px;
 color: #fff;
 font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
 color: #fff;
 text-decoration: none;
 cursor: pointer;
}
a:hover,a:active{
 color: #fff;
}
